Django==2.2.24        # only (officially) supported version
pytest==3.0.6         # latest release at project init
pytest-django==3.1.2  # latest release at project init

twine                 # for checking dist validity
